:root {
  size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: azure;
}

h1,
p,
main {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1024px;
}

h1 {
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
  margin: 35px auto;
}

#loader {
  height: 80px;
  duration: 1s;
  animation: rotate 1.5s linear infinite;
}

#table {
  border-collapse: collapse;
  padding: 0 25px;
}

th,
td {
  min-width: 50px;
  padding: 10px;
}

th {
  background-color: #dff4fa;
}

tr {
  border: 1px solid #757974;
}

td {
  padding: 0.5rem;
}

.divider {
  height: 20px;
  border: none !important;
}

.hidden {
  display: none !important;
}

.nonclickable {
  pointer-events: none;
}

#button {
  margin: 20px 0;
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 1.25rem;
  background-color: #abc2ff;
  border: 2px solid #394e88;
}

#button:hover {
  background-color: #8db2e6;
  color: #dff4fa;
}

#bottom-paragraph {
  margin-bottom: 20px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
